{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for candidate in candidates %}
        <div class="col">
            <div class="card">
                <img src="{{ candidate.avatar }}" class="card-img-top" alt="{{ candidate.name }} Avatar">
                <div class="card-body">
                    <h5 class="card-title">{{ candidate.name }}</h5>
                    <p class="card-text">{{ candidate.emails }}</p>
                    <p class="card-text">{{candidate.phones}}</p>
                    <p class="card-text">Created At: {{ candidate.created_at }}</p>
                    <p class="card-text">Referrer: {{ candidate.referrer }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}