{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Company Name</h5>
                    <p class="card-text">Current Members: 100</p>
                    <a href="{% url 'all_candidates' %}" class="btn btn-primary">View Candidates</a>
                    <a href="{% url 'new_candidate' %}" class="btn btn-success">Create Candidate</a>
                </div>
            </div>
        </div>
        <!-- Add more cards here -->
    </div>
</div>
{% endblock content %}